<label for="name">Name</label>
<input type="text" ng-model="project.name" placeholder="Project name (required)"/>

<label for="description">Description</label>
<input type="text" ng-model="project.description" placeholder="More detail"/>

<label for="start_date">Start Date</label>
<input type="text" ng-model="project.start_date" placeholder="When did the project start?"/>

<label for="projected_end_date">Projected End Date</label>
<input type="text" ng-model="project.projected_end_date" placeholder="When should the project finish?"/>

<label for="actual_end_date">Actual End Date</label>
<input type="text" ng-model="project.actual_end_date" placeholder="When did the project really finish?"/>

<label for="budget">Budget</label>
<input type="text" ng-model="project.budget" placeholder="How much money was allocated?"/>

<label for="cost">Cost</label>
<input type="text" ng-model="project.cost" placeholder="How much money was spent?"/>

<input type="submit" value="Save"/>
